@import url(./assets/css/reset.css);

.platform {
    height: 100vh;
}

.home h1 {
    padding: 10px 20px;
    height: 60px;
    line-height: 60px;
}

.home h3 {
    padding: 5px 15px;
    height: 40px;
    line-height: 40px;
    font-size: 20px;
}

.home ul {
    padding: 0 40px;
    display: flex;
    flex-flow: wrap;
}

.home ul li {
    padding: 5px;
    margin-right: 10px;
    margin-bottom: 10px;
    border-radius: 2px;
    background: #9bc0dd;
    font-size: 14px;
    font-weight: bold;
}
.home a {
    text-decoration: none;
    padding: 2px 3px;
}
.home ul li:hover {
    background: #0170fe;
    box-shadow: 0 2px 4px 1px rgba(0, 0, 0, 0.15);
}

.home ul li:hover a {
    color: white;
}

.demo-container {
    margin: 0 10px;
}

.go-back-link {
    margin: 30px 0;
}

.go-back-link a {
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
    padding: 2px 5px;
}
.go-back-link a:hover {
    background: #eee;
    box-shadow: 0 2px 4px 1px rgba(0, 0, 0, 0.15);
}

.radio-group {
    margin: 20px;
}
.radio-group .radio-wrap {
    padding: 5px;
}
.radio-group .radio-wrap input {
    margin-right: 5px;
}

.select-container {
    margin: 20px;
}

.select-container .select-label {
    margin-bottom: 10px;
}

.select-container select {
    background: #fafdfe;
    height: 28px;
    width: 180px;
    line-height: 28px;
    border: 1px solid #9bc0dd;
    border-radius: 2px;
}

.platform .go-back-link {
    display: block;
    position: fixed;
    top: 0;
    left: 10px;
    z-index: 100;
}